html {
  font-size: 16px;
}

body {
  background-color: #F2EBD9;
  color: black;
  font-family: "Roboto Slab", Roboto, serif, sans-serif;
  /* font-family: Roboto, "Roboto Slab", sans-serif, serif; */
}

h2 {
  text-align: center;
}

.img-container {
  display: block;
  text-align: center;
}

.image {
  border-radius: 30px;
}

.recipe-title {
  border-radius: 40px;
  padding: 20px;
  font-size: 5rem;
  color: black;
  margin: 30px;
  text-align: center;
}

.recipe-list {
  font-size: 3rem;
  width: 30%;
  padding: 20px;
  margin: 30px auto;
  text-align: center;
}

.recipe-list-item {
  display: block;
}

.recipe-list-item, .recipe-footer {
  box-sizing: border-box;
  padding: 0.2em;
  color: black;
  text-decoration: none;
}

.recipe-list-item:hover, .recipe-footer:hover {
  border-radius: 0.5em;
  background-color: #F9F4DD;
}

.info-card-container, .details-card-container {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  padding: 10px;
}

.info-card-container {
  width: 600px;
  background-color: #F9F4DD;
  box-shadow: 20px black;
  margin: 20px auto;
}

.info-card-item {
  text-align: center;
}

.details-card {
  margin: 10px;
  background-color: #F9F4DD;
  border-radius: 20px;
  padding: 10px;
  flex: 1
}
